<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <div class="album-details-container width-container">
      <div class="album-details">
        <div class="album-details__main">
          <img
            class="album-details__cover"
            src="<%= album.cover_image_url || "/images/default_cover.jpg"%>"
            alt="<%= album.title %> cover"
          />
          <div class="album-details__info">
            <h2 class="album-title"><%= album.title %></h3>
            <p class="album-details__release"><%= album.release_year %></p>
            <p class="album-details__artist"><%= album.artists %></p>
          </div>
        </div>
        <div class="album-description">
          <h3 class="album-description__header">Description:</h3>
          <p class="album-description__text"><%= album.description || "A description hasn't been added for this album yet." %></p>
        </div>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>
